@model Ballerz.Football.Ballerz.Knowledgebase.Knowledgebase.Data.ClubPersonHistory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ClubPersonHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubPersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubPersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeagueName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeagueName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YellowCards)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YellowCards)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
