@model Ballerz.Football.Ballerz.Knowledgebase.Knowledgebase.Data.Club

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamBadgeUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamBadgeUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearFounded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearFounded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorldwideFans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorldwideFans)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageAttendance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageAttendance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialFollowing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialFollowing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeagueId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeagueId)
        </dd>
      
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
