@model Ballerz.Football.Ballerz.Knowledgebase.Knowledgebase.Data.StadiumImages

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>StadiumImages</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StadiumId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadiumId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StadiumImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadiumImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageCaption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageCaption)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
